/* The element to apply the animation to */
@keyframes titleanimation {
  100% {
    color: white;
  }

  0% {
<<<<<<< Updated upstream
    background-color: black;
  }
}

html {
  scrollbar-width: none; /* Firefox */
}
.sticky {
  position: fixed;
  top: 0;
  padding: 15px;
}
#nav a,
.footer a {
  text-decoration: none;
  color: white;
  margin: 6px;
  transition: color 0.5s ease;
}
#nav a:hover,
.footer a:hover {
  color: gold;
}
#nav,
.footer {
  background-image: linear-gradient(to right, black, rgb(31, 31, 31));
  width: 100%;
  padding: 15px;
  font-family: Lato;
  font-weight: 600;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.content {
  display: flex;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(#f80c53, #f80c53);
  width: 100%;
  min-height: 100vh;
  align-content: center0;
=======
    color: black;
  }
}
.sticky {
  position: fixed;
  top: 0;
  padding: 15px;
}
#nav a,
.footer a {
  text-decoration: none;
  color: white;
  margin: 6px;
  transition: color 0.5s ease;
}
#nav a:hover,
.footer a:hover {
  color: gold;
}
#nav,
.footer {
  background-image: linear-gradient(to right, black, rgb(31, 31, 31));
  width: 100%;
  padding: 15px;
  font-family: Lato;
  font-weight: 600;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.content {
  display: flex;
  background-image: url("ds.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: whitesmoke; */
  width: 100%;
  min-height: 80vh;
  align-content: flex-start;
>>>>>>> Stashed changes
  justify-content: center;
  flex-wrap: wrap;
}
.article {
  background-color: white;
<<<<<<< Updated upstream
  min-height: 85vh;
=======
  min-height: 80vh;
>>>>>>> Stashed changes
  width: 85%;
  color: lightslategray;
  margin: auto;
  font-family: Lato;
<<<<<<< Updated upstream
  font-size: large;
=======
>>>>>>> Stashed changes
  text-align: justify;
  padding: 30px;
}
#title {
  background-color: black;
  text-align: center;
  font-family: Lato;
  animation-name: titleanimation;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  padding: 25px;
  margin: 0;
}
.article-heading {
  color: black;
}
.in-article-pic {
  float: right;
  margin: 25px;
}

<<<<<<< Updated upstream
.shop {
  display: flex;
  font-family: Lato;
  text-align: justify;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
}

.products {
  background-color: white;
  height: 140px;
  width: 120px;
  margin: 30px;
  color: black;
  font-family: Lato;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
  border: 2px solid rgb(109, 109, 109);
  box-shadow: none;
  transition: color 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s,
    border-radius 0.5s;
}

.products:hover {
  height: 150px;
  width: 130px;
  box-shadow: 6px 4px 10px rgb(165, 165, 165);
  border-radius: 3px;
}

thead tr td {
  font-size: x-large;
  color: black;
}
tr:nth-child(1) {
  font-weight: 900;
  color: #242424;
}
tr:nth-child(2) {
  font-weight: 600;
  color: #303030;
}
tr:nth-child(3) {
  font-weight: 500;
  color: #303030;
}
td:first-child {
  width: 100px;
}
td:nth-child(2) {
  width: 400px;
}
td:nth-child(3) {
  width: 120px;
}

#signup label {
  font-size: x-large;
  color: #000;
}

#signup input {
  font-size: small;
  width: 60%;
  max-width: 500px;
  padding: 6px;
  margin-bottom: 30px;
  margin-top: 8px;
  height: 35px;
}
#signup input:focus {
  outline: black;
  border: 2px solid black;
=======
.article a:link {
  color: gray;
}
.article a:visited {
  color: gray;
}

form {
  display: block;
  background-color: white;
  min-height: 80vh;
  width: 85%;
  color: gray;
  margin: auto;
  font-family: Lato;
  text-align: justify;
  padding: 30px;
>>>>>>> Stashed changes
}
