@font-face {
  font-family: "VictorMono";
  src: URL("/assets/TTF/VictorMono-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Anonymous Pro";
  src: URL("/assets/Anonymous_Pro/AnonymousPro-Regular.ttf") format("truetype");
}
@keyframes titleanimation {
  100% {
    color: goldenrod;
  }

  0% {
    color: rgb(31, 31, 30);
  }
}

html {
  scrollbar-width: none; /* Firefox */
}
.sticky {
  position: fixed;
  top: 0;
  padding: 15px;
}
#nav a,
.footer a {
  text-decoration: none;
  color: #7c6f64;
  margin: 12px;
  transition: color 0.5s ease;
}
#nav a:hover,
.footer a:hover {
  color: gold;
}
#nav,
.footer {
  background-color: rgb(31, 31, 30);
  width: 100%;
  padding: 15px;
  font-family: "Anonymous Pro";
  font-weight: 600;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.content {
  display: flex;
  background-color: #282828;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.article {
  background-color: #1d2021;
  min-height: 85vh;
  width: 85%;
  color: #ebdbb2;
  margin: auto;
  font-family: "Anonymous Pro";
  font-size: large;
  text-align: justify;
  padding: 30px;
}
#title {
  height: 131.867px;
  background-color: rgb(31, 31, 30);
  text-align: center;
  /* font-family: "Varela Round", sans-serif; */
  font-family: "VictorMono";
  animation-name: titleanimation;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  padding: 25px;
  margin: 0;
}
.article-heading {
  color: #a89984;
}
.in-article-pic {
  float: right;
  margin: 25px;
}

.shop {
  display: flex;
  font-family: "Anonymous Pro";
  text-align: justify;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
}

.products {
  background-color: #282828;
  height: 140px;
  width: 120px;
  margin: 20px;
  color: #ebdbb2;
  font-family: "Anonymous Pro";
  text-align: center;
  padding: 30px;
  border-radius: 4px;
  border: 2px;
  box-shadow: none;
  transition: color 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s,
    border-radius 0.5s;
}

.products:hover {
  height: 150px;
  width: 130px;
  box-shadow: 6px 4px 10px black;
  border-radius: 3px;
}

thead tr td {
  font-size: x-large;
  color: #a89984;
}
tr:nth-child(1) {
  font-weight: 900;
  color: #d65d0e;
}
tr:nth-child(2) {
  font-weight: 600;
  color: #fbf1c7;
}
td:first-child {
  width: 100px;
}
td:nth-child(2) {
  width: 400px;
}
td:nth-child(3) {
  width: 120px;
}

#signup label {
  font-size: x-large;
  /* color: #000; */
}

#signup input {
  font-size: small;
  font-family: "Anonymous Pro";
  width: 60%;
  max-width: 500px;
  padding: 8px;
  margin-bottom: 30px;
  margin-top: 8px;
  height: 35px;
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 4px;
  border: none;
}
#signup input:focus {
  outline: none;
  border: none;
}
